version: '3'
services:
   https-portal:
    image: steveltn/https-portal:1
    ports:
      - '443:443'
      - '80:80'
    links:
      - node
      - streamlit
    restart: always
    environment:
      DOMAINS: 'uat.kb.novacept.io -> http://streamlit:8501'
      STAGE: 'production' # Don't use production until staging works
      # FORCE_RENEW: 'true'
    volumes: 
      - https-portal-data:/var/lib/https-portal
    networks:
      - test-network

   streamlit:
    restart: always
    container_name: streamlit-data
    build: ./
    ports:
      - "8501:8501"
    networks:
      - test-network

   node:
    restart: always
    container_name: node-data
    build: ./
    ports:
     - "8051:8051"
    networks:
     - test-network

  #  streamlit:
  #   build: ./
  #   #command: "streamlit run my_component/__init__.py"
  #   ports:
  #     - "8501:8501"
  #   volumes:
  #     - myapp:/home/novaadmin/haystack-editor/my_component
networks:
  test-network:

volumes:
  https-portal-data:

